<hr/><h2>Structural-Directives Works!</h2><hr/>

<!-- <div>Element - 1</div>
<div *ngIf = 'showProduct'>Element - 2</div>
<div>Element - 3</div>
Using Array of Names: <br>
<ul>
    <li *ngFor = 'let i of names'>{{i}}</li>
</ul>
Using Array of Objects: <br>
<ul>
    <li *ngFor = 'let product of products'>
        {{product.productId}} - {{product.productName}}
    </li>

</ul>


<div [ngSwitch] = 'course'>

    <p *ngSwitchCase = "'java'">1. Java Course</p>
    <p *ngSwitchCase = "'python'">2. Python Course</p>
    <p *ngSwitchCase = "'angular'">3. Angular Course</p>
    <p *ngSwitchDefault >4. Bootstrap Course</p>
    
</div> -->


<ul>
    <li *ngFor = 'let product of products'>
        {{product.productId}} - {{product.productName}} 
    </li>

</ul>