<h1 align = "center" appMyColor> Welcome to First Angular Application</h1><hr/>

Getting data dynamically from component title : {{title}}

<br>
<hr/>
<app-pranav></app-pranav><hr/>
<app-product></app-product>
<app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-calculator></app-calculator>
<app-two-way-binding></app-two-way-binding>
<app-class-style-binding></app-class-style-binding>
<app-structural-directives></app-structural-directives>
<!-- <app-employee></app-employee> -->

<app-class-style-attdir></app-class-style-attdir>
<app-predef-pipes></app-predef-pipes>

<app-employee></app-employee>